

.container{
    display: flex;
    justify-content: center;
    
}

.form-container{
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form-container h2{
    color: #505050;
    font-size: 2rem;
    font-stretch: extra-condensed;
    font-weight: 400;
}

.form{
    width: 60%;
    background: #fff;
    border: 0.5px solid #979797;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 300;
    padding: 15px 10px;
}

.form input{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: .1px solid #b1b1b1;
    transition: all .5s;
}

.form input:focus{
    background: rgba(123, 173, 230, 0.247);
    border: none;
    outline: 2px solid black;
}


.form label{
    color: #505050;
    padding-bottom: 5px;
}

.form button{
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #4277ff;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    transition: all .5s;
    cursor: pointer;
}

.button{
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #4277ff;
    padding: 10px;
    font-weight: 500;
    transition: all .5s;
    color: #fff;
    cursor: pointer;
}


button:hover{
    outline: 2px solid black;
}